/* spade = &#x2660
    hearts = &#x2665 or &hearts
    diamonds = &#x2666 or &diams
    clubs = &#x2663 or &clubsuit*/
body {
    background-color: rgb(200, 197, 197);

}
.container-fluid {
    /*background-image: url(download.jpeg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    text-align: center;
    max-width: 500px;
    background-color: rgb(6, 96, 19);
}
.dark{
    background-color: #222;
}
#table {
    background-image: url(download.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}
.redCard {
  color: red;
    font-weight: bold;   
}
#dealerCards img {
    height: 175px;
    width: 125px;
    margin: 1px

}
#yourCards img {
    height: 175px;
    width: 125px;
    margin: 1px
}
#results {
    color: white;
    font-size: 22px;
}
h1 {
    font-size: 55px;
}